html, body, #root, .App {
  width: 100%;
  height: 100%;
}

#root {                          
  background: rgb(0,0,0);
  background: linear-gradient(337deg, rgba(0,0,0,0.4766281512605042) 0%, rgba(186,12,47,0.7371323529411764) 41%);                                        
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-annotator {
  background-color: #BA0C2F;
}

.btn-annotator:hover {
  background-color: rgba(186,12,47, .6)!important; 
}

.btn-annotate-dashed:hover {
  border-color: #BA0C2F !important;
  color: #BA0C2F !important;
}

.toolbar {
  width: 100%;
  margin-bottom: 5px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}

.btn-annotate-dashed {
  margin-right: 15px;
}

.UOMLogo {
  font-size: 50px;
}
